* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    padding: 24px 0;
}

.spacing {
    height: 12px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.master-button {
    height:50px;
    width:50px;
    font-size: 18px;
    border: none;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px) brightness(0.8);
    color: white;
    cursor: pointer;
    border-radius: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:background-color 0.1s;
}

.master-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.sound-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.sound-label {
    font-weight: 600;
    font-size: 14px;
}

.sound-item {
    flex: 0 1 calc(33.333% - 40px);
    background-color: rgba(255, 255, 255, 0.03); 
    backdrop-filter: blur(10px) brightness(0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 18px;
    z-index: 1;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.sound-item.playing {
    box-shadow: 0 0 15px rgba(0, 255, 89, 0.5);
}

.volume-control {
    -webkit-appearance: none; 
    appearance: none;
    width: 50%;
    height: 8px;
    background-color: #6c6c6c; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #999; 
    border-radius: 50%;
    cursor: pointer;
}

.volume-control::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}

.volume-control::-ms-thumb {
    width: 16px;
    height: 16px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}

.volume-control:focus {
    outline: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .sound-item {
        flex: 0 1 100%; /* Make each item take up the full width on small screens */
    }
}
